include mixin/cover-banner
include mixin/head

doctype html
html
  +head('雙方協定巴拉圭共和國和中華民國（台灣）')
  body.page-convenios
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/convenios-banner.png', '475px')
      .content.container.my-5
        h1.my-5 
          p 雙方協定 
          p 巴拉圭共和國和中華民國（台灣） 

        div.overScroll
          table#bilaterales
            thead
              tr
                th(rowspan="0") No
                th(rowspan="0") 名稱
                th(colspan="2") 簽訂
                th(colspan="2") 修正
                th(rowspan="0") 生效日期
                
              tr
                th 地點
                th 日期
                th 法條
                th 日期
            tbody
              tr
                td 1
                td(style="max-width: 300px; text-align:left;") 建立邦交關係公文
                td 卡拉卡斯
                td 9/VII/1957
                td -----
                td -----
                td 12/VII/1957
      
             
      include components/footer
      //- include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
    script.
      const data = [{
          no: '01',
          doc: '建立邦交關係公文',
          country: '卡拉卡斯',
          fec: '9/VII/1957',
          lugar: '-----',
          fecha: '-----',
          entrada: '12/VII/1957'
        },
        {
          no: '02',
          doc: '文化專約',
          country: '亞松森',
          fec: '18/VIII/1961',
          lugar: '761',
          fecha: '15/XII/1961',
          entrada: '11/V/1962'
        },
        {
          no: '03',
          doc: '商業暨經濟合作條約',
          country: '台北',
          fec: '11/V/1962',
          lugar: '811',
          fecha: '18/VII/1962',
          entrada: '29/XII/1962'
        },
        {
          no: '04',
          doc: '針對商業暨經濟合作條約第5條所擬定之協議',
          country: '台北',
          fec: '11/ V/1962',
          lugar: '------',
          fecha: '------',
          entrada: '29/XII/1962'
        },
        {
          no: '05',
          doc: '中華民國及巴拉圭共和國雙方商業暨經濟合作條約簽定附加草案',
          country: '台北',
          fec: '11/ V/1962',
          lugar: '------',
          fecha: '------',
          entrada: '11/V/1962'
        },
        {
          no: '06',
          doc: '友好條約',
          country: '亞松森',
          fec: '7/VI/1968',
          lugar: '12',
          fecha: '4/IX/1968',
          entrada: '11/II/1969'
        },
        {
          no: '07',
          doc: '技術及經濟合作記錄',
          country: '亞松森',
          fec: '26/VIII/1971',
          lugar: '------',
          fecha: '------',
          entrada: '------'
        },
        {
          no: '08',
          doc: '商業和經濟合作條約及其附加草案 和 1962年5月11日之雙邊協議案延長10年之有效期',
          country: '亞松森',
          fec: '28/XII/1972',
          lugar: '------',
          fecha: '------',
          entrada: '28/XII/1972'
        },
        {
          no: '09',
          doc: '技術合作協定',
          country: '亞松森',
          fec: '15/II/1973',
          lugar: '398',
          fecha: '07/IX/1973',
          entrada: '15/II/1973'
        },
        {
          no: '10',
          doc: '中華民國駐巴拉圭農業技術代表團之相互協定 N.R.N°1/73',
          country: '亞松森',
          fec: '15/II/1973',
          lugar: '------',
          fecha: '------',
          entrada: '15/II/1973'
        },
        {
          no: '11',
          doc: '觀光協定',
          country: '台北',
          fec: '25/IX/1975',
          lugar: '555',
          fecha: '17/XII/1975',
          entrada: '12/I/1976'
        },
        {
          no: '12',
          doc: '總統聯合公報',
          country: '台北',
          fec: '25/IX/1975',
          lugar: '------',
          fecha: '------',
          entrada: '------'
        },
        {
          no: '13',
          doc: '投資協定',
          country: '台北',
          fec: '25/IX/1975',
          lugar: '554',
          fecha: '17/XII/1975',
          entrada: '15/I/1976'
        },
        {
          no: '14',
          doc: '外交部長聯合公報',
          country: '台北',
          fec: '12/XII/1990',
          lugar: '------',
          fecha: '------',
          entrada: '------'
        },
        {
          no: '15',
          doc: '外交部長聯合公報',
          country: '亞松森',
          fec: '3/III/1982',
          lugar: '------',
          fecha: '------',
          entrada: '------'
        },
        {
          no: '16',
          doc: '引渡條約',
          country: '台北',
          fec: '24/IV/1986',
          lugar: '1.208',
          fecha: '29/X/1986',
          entrada: '25/VI/1987'
        },
        {
          no: '17',
          doc: '第二屆經濟合作會議記綠',
          country: '亞松森',
          fec: '18/VIII/1988',
          lugar: '------',
          fecha: '------',
          entrada: '------'
        },
        {
          no: '18',
          doc: '總統聯合公報',
          country: '台北',
          fec: '20/VI/1990',
          lugar: '------',
          fecha: '------',
          entrada: '------'
        },
        {
          no: '19',
          doc: '科學技術領域教作協定',
          country: '台北',
          fec: '19/VI/1990',
          lugar: '113',
          fecha: '3/I/1991',
          entrada: '19/VI/1990'
        },
        {
          no: '20',
          doc: '第四屆經濟合作會議記綠',
          country: '台北',
          fec: '20/VI/1990',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '21',
          doc: '第五屆經濟合作會議記綠',
          country: '亞松森',
          fec: '15/II/1992',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '22',
          doc: '雙邊投資保障協定',
          country: '台北',
          fec: '6/IV/1992',
          lugar: '29',
          fecha: '11/IX/1992',
          entrada: '11/IX/1992'
        },
        {
          no: '23',
          doc: '避免雙重稅收和預防逃漏稅之協定',
          country: '亞松森',
          fec: '28/IV/1994',
          lugar: '3972',
          fecha: '6/V/2010',
          entrada: '3/VI/2010'
        },
        {
          no: '24',
          doc: '捐助美金 20,000,000 做為建設新國會大廈 N.R.Nº 18/94 之協定',
          country: '亞松森',
          fec: '21/XII/1994',
          lugar: '560',
          fecha: '28/IV/1995',
          entrada: '03/V/1995'
        },
        {
          no: '25',
          doc: '商業及經濟合作實踐議定書',
          country: '台北',
          fec: '26/VIII/1995',
          lugar: '916',
          fecha: '31/VII/1996',
          entrada: '11/XI/1996'
        },
        {
          no: '26',
          doc: '鞏固農業技術合作協議瞭解備忘錄',
          country: '台北',
          fec: '26/VIII/1995',
          lugar: '-------',
          fecha: '-------',
          entrada: '26/VIII/1995'
        },
        {
          no: '27',
          doc: '亞松森新城市合作研究計劃議定書',
          country: '台北',
          fec: '26/VIII/1995',
          lugar: '-------',
          fecha: '-------',
          entrada: '05/X/1998'
        },
        {
          no: '28',
          doc: '巴拉圭共和國工業園區推動瞭解備忘錄',
          country: '台北',
          fec: '26/VIII/1995',
          lugar: '-------',
          fecha: '-------',
          entrada: '26/VIII/1995'
        },
        {
          no: '29',
          doc: '總統聯合公報',
          country: '台北',
          fec: '26/VIII/1995',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '30',
          doc: '第八屆經濟合作會議紀錄',
          country: '台北',
          fec: '29/VIII/1995',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '31',
          doc: '外交部現代化控管計劃雙邊換文協議',
          country: '亞松森',
          fec: '14/VIII/1996',
          lugar: '-------',
          fecha: '-------',
          entrada: '14/VIII/1996'
        },
        {
          no: '32',
          doc: '亞松森市及西部地區橋樑建構換文協議',
          country: '亞松森',
          fec: '17/IX/1997',
          lugar: '-------',
          fecha: '-------',
          entrada: '17/IX/1997'
        },
        {
          no: '33',
          doc: '農業金融合作瞭解備忘錄',
          country: '亞松森',
          fec: '17/IX/1997',
          lugar: '-------',
          fecha: '-------',
          entrada: '17/IX/1997'
        },
        {
          no: '34',
          doc: '總統聯合公報',
          country: '亞松森',
          fec: '17/IX/1997',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '35',
          doc: '航空運輸協定.',
          country: '亞松森',
          fec: '17/IX/1997',
          lugar: '1.300',
          fecha: '15/VII/1998',
          entrada: '30/VII/1998'
        },
        {
          no: '36',
          doc: '促進貿易和人力資源培訓換文協議',
          country: '亞松森',
          fec: '17/IX/1997',
          lugar: '-------',
          fecha: '-------',
          entrada: '17/IX/1997'
        },
        {
          no: '37',
          doc: '商業便利化議定書，補充“貿易和經濟合作條約',
          country: '亞松森',
          fec: '17/IX/1997',
          lugar: '1.370',
          fecha: '26/XI/1998',
          entrada: '7/IV/1999'
        },
        {
          no: '38',
          doc: '外交部都市通訊網路設備建購之不償還經濟合作協議',
          country: '亞松森',
          fec: '10/X/1997',
          lugar: '-------',
          fecha: '-------',
          entrada: '10/X/1997'
        },
        {
          no: '39',
          doc: '航空運輸協定第19條文-1修改之換文協議',
          country: '亞松森',
          fec: '3/III/1998',
          lugar: '-------',
          fecha: '-------',
          entrada: '3/III/1998'
        },
        {
          no: '40',
          doc: '經濟合作計畫瞭解備忘錄',
          country: '亞松森',
          fec: '17/VIII/1998',
          lugar: '-------',
          fecha: '-------',
          entrada: '17/VIII/1998'
        },
        {
          no: '41',
          doc: '園藝, 水果, 花卉及小型牲畜之不償還外銷經濟合作換文協議',
          country: '亞松森',
          fec: '5/X/1998',
          lugar: '-------',
          fecha: '-------',
          entrada: '5/X/1998'
        },
        {
          no: '42',
          doc: '行動計畫瞭解備忘錄',
          country: '台北',
          fec: '16/IX/1999',
          lugar: '-------',
          fecha: '-------',
          entrada: '16/IX/1999'
        },
        {
          no: '43',
          doc: '總統聯合公報',
          country: '台北',
          fec: '20/IX/1999',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '44',
          doc: '第十二屆經濟合作會議紀錄',
          country: '台北a',
          fec: '22/XI/2000',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '45',
          doc: '雙邊保護智慧財產權協定',
          country: '台北',
          fec: '22/XI/2000',
          lugar: '1871',
          fecha: '8/IV/2002',
          entrada: '10/VI/2002'
        },
        {
          no: '46',
          doc: '投資暨貿易策略計劃瞭解備忘錄',
          country: '亞松森',
          fec: '01/VI/2001',
          lugar: '2330',
          fecha: '04/XII/2003',
          entrada: '11/II/2004'
        },
        {
          no: '47',
          doc: '總統聯合公報',
          country: '亞松森',
          fec: '01/VI/2001',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '48',
          doc: '行動計畫瞭解備忘錄',
          country: '台北',
          fec: '24/VIII/2001',
          lugar: '-------',
          fecha: '-------',
          entrada: '24/VIII/2001'
        },
        {
          no: '49',
          doc: '外交及公務護照免簽證協定',
          country: '台北',
          fec: '21/VIII/2002',
          lugar: '2143',
          fecha: '25/VII/2003',
          entrada: '5/IX/2003'
        },
        {
          no: '50',
          doc: '兩國外交部有關設立諮商及協調機制瞭解備忘錄',
          country: '台北',
          fec: '21/VIII/2002',
          lugar: '-------',
          fecha: '-------',
          entrada: '21/VIII/2002'
        },
        {
          no: '51',
          doc: '副總統聯合公報',
          country: '亞松森',
          fec: '15/VIII/2003',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '52',
          doc: '兩國別忘綠',
          country: '台北',
          fec: '10/II/2004',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '53',
          doc: '副總統聯合公報',
          country: '台北',
          fec: '12/II/2004',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '54',
          doc: '總統聯合公報',
          country: '台北',
          fec: '24/V/2004',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '55',
          doc: '雙邊議程備忘錄',
          country: '台北',
          fec: '24/V/2004',
          lugar: '-------',
          fecha: '-------',
          entrada: '24/V/2004'
        },
        {
          no: '56',
          doc: '第十四屆經濟合作會議紀錄',
          country: '亞松森',
          fec: '10/VIII/2004',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '57',
          doc: '志工派遣協定',
          country: '台北',
          fec: '20/XII/2005',
          lugar: '-------',
          fecha: '-------',
          entrada: '27/XI/2007'
        },
        {
          no: '58',
          doc: '外交部長聯合公報',
          country: '台北',
          fec: '20/XII/2005',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '59',
          doc: '總統聯合公報',
          country: '亞松森',
          fec: '06/05/2006',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '60',
          doc: '關於修正1973/2/15赴巴農業技術團換文協定之協定',
          country: '亞松森',
          fec: '9/II/2007 10/IV/2007',
          lugar: '-------',
          fecha: '-------',
          entrada: '10/IV/2007'
        },
        {
          no: '61',
          doc: '外交部長聯合公報',
          country: '台北',
          fec: '24/VII/2007',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '62',
          doc: '兩國有關合作打擊毒品買賣及相關犯罪行為',
          country: '台北',
          fec: '16/X/2007',
          lugar: '-------',
          fecha: '-------',
          entrada: '16/X/2007'
        },
        {
          no: '63',
          doc: '1994/4/28 避免雙重稅收和預防逃漏稅之協定西文版',
          country: '亞松森',
          fec: '3 y 6 III/2008',
          lugar: '3972',
          fecha: '6/V/2010',
          entrada: '16/X/2007'
        },
        {
          no: '64',
          doc: '巴拉圭接受中華民國無償7100萬美元捐款記錄',
          country: '亞松森',
          fec: '9/VII/2009',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '65',
          doc: '巴拉圭共和國政府與中華民國政府間文化教育科學運動合作協定',
          country: '亞松森',
          fec: '8/IX/2009',
          lugar: '4022',
          fecha: '24/VI/2010',
          entrada: '30/VIII/2010'
        },
        {
          no: '66',
          doc: '關於修正1973/2/15赴巴農業技術團換文協定之換文協定',
          country: '亞松森',
          fec: '8/IV/2010',
          lugar: '-------',
          fecha: '-------',
          entrada: '8/IV/2010'
        },
        {
          no: '67',
          doc: '巴拉圭接受中華民國贈巴拉圭外交部優先計畫融資無償737.000美元捐',
          country: '亞松森',
          fec: '20/VII/2010',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '68',
          doc: '巴拉圭接受中華民國贈巴拉圭外交部現代化及機構強化計畫無償50萬',
          country: '亞松森',
          fec: '18/VI/2013',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '69',
          doc: '兩國2013-2018無長財務合作瞭解備忘錄 (推動平民住宅計畫)',
          country: '亞松森',
          fec: '25/II/2014',
          lugar: '5.175',
          fecha: '8/V/2014',
          entrada: '02/VII/2014'
        },
        {
          no: '70',
          doc: '總統聯合公報',
          country: '亞松森',
          fec: '28/VI/2016',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '71',
          doc: '航空運輸協定修正協定',
          country: '亞松森',
          fec: '28/VI/2016',
          lugar: '5.827',
          fecha: '27/VI/2017',
          entrada: '27/VI/2017'
        },
        {
          no: '72',
          doc: '兩國普通護照免簽協定',
          country: '台北',
          fec: '12/VII/2017',
          lugar: 'DTO. 7423',
          fecha: '06/VII/2017',
          entrada: '06/VII/2017'
        },
        {
          no: '73',
          doc: '經濟合作協定',
          country: '台北',
          fec: '12/VII/2017',
          lugar: '5.932',
          fecha: '23/X/2017',
          entrada: '28/II/2018'
        },
        {
          no: '74',
          doc: '免除外國公文書重複驗證協定',
          country: '台北',
          fec: '12/VII/2017',
          lugar: '6.045',
          fecha: '12/VII/2017',
          entrada: '08/VIII/2018'
        },
      ]
      
      const tbody = document.querySelector('table#bilaterales tbody')
      let trStr = ''
      
      for(let i = 0; i < data.length; i++){
        trStr += `
          <tr>
            <td>${data[i].no}</td>
            <td style="max-width: 300px; text-align:left;">${data[i].doc}</td>
            <td>${data[i].country}</td>
            <td>${data[i].fec}</td>
            <td>${data[i].lugar}</td>
            <td>${data[i].fecha}</td>
            <td>${data[i].entrada}</td>
          </tr>
        `
      }
    
      tbody.innerHTML = trStr
      
    script
