include mixin/cover-banner
include mixin/head

doctype html
html
  +head('Bilateral Instruments subscribed between the Republic of Paraguay and the Republic of China (Taiwan)')
  body.page-convenios
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/convenios-banner.png', '475px')
      .content.container.my-5
        h1.my-5 
          p Bilateral Instruments subscribed between
          p the Republic of Paraguay and the Republic of China (Taiwan)

        div.overScroll
          table#bilaterales
            thead
              tr
                th(rowspan="0") No
                th(rowspan="0") NAME
                th(colspan="4") SIGNED
                th(rowspan="0") ENTRY INTO FORCE
                
              tr
                th CITY
                th DATE
                th LAW N°
                th DATE
            tbody
              tr
                td 1
                td(style="max-width: 300px; text-align:left;") Agreement by diplomatic notes for the establishment of diplomatic relations.
                td Caracas
                td 9/VII/1957
                td -----
                td -----
                td 12/VII/1957
      
             
      include components/footer
      //- include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
    script.
      const data = [{
          no: '01',
          doc: 'Agreement by diplomatic notes for the establishment of diplomatic relations.',
          country: 'Caracas',
          fec: '9/VII/1957',
          lugar: '-----',
          fecha: '-----',
          entrada: '12/VII/1957'
        },
        {
          no: '02',
          doc: 'Cultural Agreement',
          country: 'Asunción',
          fec: '18/VIII/1961',
          lugar: '761',
          fecha: '15/XII/1961',
          entrada: '11/V/1962'
        },
        {
          no: '03',
          doc: 'Trade and Economic Cooperation Treaty.',
          country: 'Taipei',
          fec: '11/V/1962',
          lugar: '811',
          fecha: '18/VII/1962',
          entrada: '29/XII/1962'
        },
        {
          no: '04',
          doc: 'Agreement by reversal notes relating to article 5 of the Trade and economic Cooperation Treaty.',
          country: 'Taipei',
          fec: '11/ V/1962',
          lugar: '------',
          fecha: '------',
          entrada: '29/XII/1962'
        },
        {
          no: '05',
          doc: 'Additional Protocol to the trade and economic Cooperation Treaty.',
          country: 'Taipei',
          fec: '11/ V/1962',
          lugar: '------',
          fecha: '------',
          entrada: '11/V/1962'
        },
        {
          no: '06',
          doc: 'Treaty of Friendship',
          country: 'Asunción',
          fec: '7/VI/1968',
          lugar: '12',
          fecha: '4/IX/1968',
          entrada: '11/II/1969'
        },
        {
          no: '07',
          doc: 'Act of Technical and Economic Cooperation.',
          country: 'Asunción',
          fec: '26/VIII/1971',
          lugar: '------',
          fecha: '------',
          entrada: '------'
        },
        {
          no: '08',
          doc: 'Agreement by reversal notes that the trade and economic Cooperation Treaty, its Additional protocol and the reversals of the 11/V/1962 are extended for 10 years.',
          country: 'Asunción',
          fec: '28/XII/1972',
          lugar: '------',
          fecha: '------',
          entrada: '28/XII/1972'
        },
        {
          no: '09',
          doc: 'Agreement of Technical Cooperation. ',
          country: 'Asunción',
          fec: '15/II/1973',
          lugar: '398',
          fecha: '07/IX/1973',
          entrada: '15/II/1973'
        },
        {
          no: '10',
          doc: 'Agreement by reversal notes on the configuration of the Chinese Agricultural Technical Mission in Paraguay. (N.R. N ° 1/73.)',
          country: 'Asunción',
          fec: '15/II/1973',
          lugar: '------',
          fecha: '------',
          entrada: '15/II/1973'
        },
        {
          no: '11',
          doc: 'Agreement on Turism ',
          country: 'Taipei',
          fec: '25/IX/1975',
          lugar: '555',
          fecha: '17/XII/1975',
          entrada: '12/I/1976'
        },
        {
          no: '12',
          doc: 'Joint Declaration of Presidents.',
          country: 'Taipei',
          fec: '25/IX/1975',
          lugar: '------',
          fecha: '------',
          entrada: '------'
        },
        {
          no: '13',
          doc: 'Agreement of Investmens ',
          country: 'Taipei',
          fec: '25/IX/1975',
          lugar: '554',
          fecha: '17/XII/1975',
          entrada: '15/I/1976'
        },
        {
          no: '14',
          doc: 'Joint Declaration of Foreign Ministers. ',
          country: 'Taipei',
          fec: '12/X/1976',
          lugar: '------',
          fecha: '------',
          entrada: '------'
        },
        {
          no: '15',
          doc: 'Joint Statements of Foreign Ministers.',
          country: 'Asunción',
          fec: '3/III/1982',
          lugar: '------',
          fecha: '------',
          entrada: '------'
        },
        {
          no: '16',
          doc: 'Extradition Treaty',
          country: 'Taipei',
          fec: '24/IV/1986',
          lugar: '1.208',
          fecha: '29/X/1986',
          entrada: '25/VI/1987'
        },
        {
          no: '17',
          doc: 'Final Act of the Second Conference on Economic Cooperation.',
          country: 'Asunción',
          fec: '18/VIII/1988',
          lugar: '------',
          fecha: '------',
          entrada: '------'
        },
        {
          no: '18',
          doc: 'Joint Declaration of Presidents.',
          country: 'Taipei',
          fec: '20/VI/1990',
          lugar: '------',
          fecha: '------',
          entrada: '------'
        },
        {
          no: '19',
          doc: 'Agreement of Educational cooperation in the Scientific and Technological Field.',
          country: 'Taipei',
          fec: '19/VI/1990',
          lugar: '113',
          fecha: '3/I/1991',
          entrada: '19/VI/1990'
        },
        {
          no: '20',
          doc: 'Minutes of the Fourth Conference on Economic Cooperation.',
          country: 'Taipei',
          fec: '20/VI/1990',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '21',
          doc: 'Minutes of the Fifth Conference on Economic Cooperation.',
          country: 'Asunción',
          fec: '15/II/1992',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '22',
          doc: 'Agreement on Mutual Guarantee of Investments.',
          country: 'Taipei',
          fec: '6/IV/1992',
          lugar: '29',
          fecha: '11/IX/1992',
          entrada: '11/IX/1992'
        },
        {
          no: '23',
          doc: 'Agreement to avoid double taxation and prevent tax evasion with respect to income taxes.',
          country: 'Asunción',
          fec: '28/IV/1994',
          lugar: '3972',
          fecha: '6/V/2010',
          entrada: '3/VI/2010'
        },
        {
          no: '24',
          doc: 'Agreement by reversal notes on the donation of 20 million US $ for the construction of a new headquarters for the National Congress. (N.R. N ° 18/94).',
          country: 'Asunción',
          fec: '21/XII/1994',
          lugar: '560',
          fecha: '28/IV/1995',
          entrada: '03/V/1995'
        },
        {
          no: '25',
          doc: 'Protocol for updating the Trade and Economic Cooperation Treaty.',
          country: 'Taipei',
          fec: '26/VIII/1995',
          lugar: '916',
          fecha: '31/VII/1996',
          entrada: '11/XI/1996'
        },
        {
          no: '26',
          doc: 'Memorandum of Understanding on the strengthening of the Technical-Agricultural Cooperation Plan.',
          country: 'Taipei',
          fec: '26/VIII/1995',
          lugar: '-------',
          fecha: '-------',
          entrada: '26/VIII/1995'
        },
        {
          no: '27',
          doc: 'Letter of Intent on Cooperation in the Study of Planning a New City of Asunción.',
          country: 'Taipei',
          fec: '26/VIII/1995',
          lugar: '-------',
          fecha: '-------',
          entrada: '05/X/1998'
        },
        {
          no: '28',
          doc: 'Memorandum of Understanding for the Promotion of Industrial Park in the Republic of Paraguay. ',
          country: 'Taipei',
          fec: '26/VIII/1995',
          lugar: '-------',
          fecha: '-------',
          entrada: '26/VIII/1995'
        },
        {
          no: '29',
          doc: 'Joint Declaration of Presidents.',
          country: 'Taipei',
          fec: '26/VIII/1995',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '30',
          doc: 'Minutes of the VIII Conference on Economic Cooperation.',
          country: 'Taipei',
          fec: '29/VIII/1995',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '31',
          doc: 'Agreement by reversal notes relative to the Plan of Cybernetic Modernization of the National Ministry of Foreign Affairs. (N.R. N ° 5/96.)',
          country: 'Asunción',
          fec: '14/VIII/1996',
          lugar: '-------',
          fecha: '-------',
          entrada: '14/VIII/1996'
        },
        {
          no: '32',
          doc: 'Agreement by reversal notes for the construction of a bridge between the city of Asunción and the western region. (N.R. N ° 9/97.)',
          country: 'Asunción',
          fec: '17/IX/1997',
          lugar: '-------',
          fecha: '-------',
          entrada: '17/IX/1997'
        },
        {
          no: '33',
          doc: 'Memorandum of Understanding on financial cooperation to the agricultural Sector.',
          country: 'Asunción',
          fec: '17/IX/1997',
          lugar: '-------',
          fecha: '-------',
          entrada: '17/IX/1997'
        },
        {
          no: '34',
          doc: 'Joint Declaration of Presidents.',
          country: 'Asunción',
          fec: '17/IX/1997',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '35',
          doc: 'Air Transport Agreement.',
          country: 'Asunción',
          fec: '17/IX/1997',
          lugar: '1.300',
          fecha: '15/VII/1998',
          entrada: '30/VII/1998'
        },
        {
          no: '36',
          doc: 'Agreement by reversal notes on the promotion of trade and human resources training. (N.R. N ° 8/97.)',
          country: 'Asunción',
          fec: '17/IX/1997',
          lugar: '-------',
          fecha: '-------',
          entrada: '17/IX/1997'
        },
        {
          no: '37',
          doc: 'Protocol on trade facilitation complementary to the Trade and Economic Cooperation Treaty.',
          country: 'Asunción',
          fec: '17/IX/1997',
          lugar: '1.370',
          fecha: '26/XI/1998',
          entrada: '7/IV/1999'
        },
        {
          no: '38',
          doc: 'Agreement by reversal notes on non-reimbursable economic cooperation for the implementation of the Metropolitan network in the Ministry of Foreign Affairs. N.R. N ° 10/97.',
          country: 'Asunción',
          fec: '10/X/1997',
          lugar: '-------',
          fecha: '-------',
          entrada: '10/X/1997'
        },
        {
          no: '39',
          doc: 'Agreement by reversal notes on amendment of article XIX Numeral 1, of the air transport Agreement. (N.R. N ° 3/98.)',
          country: 'Asunción',
          fec: '3/III/1998',
          lugar: '-------',
          fecha: '-------',
          entrada: '3/III/1998'
        },
        {
          no: '40',
          doc: 'Memorandum of Understanding on Economic Cooperation Programs.',
          country: 'Asunción',
          fec: '17/VIII/1998',
          lugar: '-------',
          fecha: '-------',
          entrada: '17/VIII/1998'
        },
        {
          no: '41',
          doc: 'Agreement by reversal notes on non-reimbursable economic cooperation to be destined for the project of export of horticultural items, fruits, flowers and minor livestock.',
          country: 'Asunción',
          fec: '5/X/1998',
          lugar: '-------',
          fecha: '-------',
          entrada: '5/X/1998'
        },
        {
          no: '42',
          doc: 'Memorandum of Understanding on the Plan of Action.',
          country: 'Taipei',
          fec: '16/IX/1999',
          lugar: '-------',
          fecha: '-------',
          entrada: '16/IX/1999'
        },
        {
          no: '43',
          doc: 'Presidential joint Communiqué.',
          country: 'Taipei',
          fec: '20/IX/1999',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '44',
          doc: 'Minutes of the XII Conference on Economic Cooperation.',
          country: 'Taipei',
          fec: '22/XI/2000',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '45',
          doc: 'Agreement on Mutual Protection of Intellectual Property Rights.',
          country: 'Taipei',
          fec: '22/XI/2000',
          lugar: '1871',
          fecha: '8/IV/2002',
          entrada: '10/VI/2002'
        },
        {
          no: '46',
          doc: 'Agreement on Mutual Protection of Intellectual Property Rights.',
          country: 'Asunción',
          fec: '01/VI/2001',
          lugar: '2330',
          fecha: '04/XII/2003',
          entrada: '11/II/2004'
        },
        {
          no: '47',
          doc: 'Agreement on Mutual Protection of Intellectual Property Rights.',
          country: 'Asunción',
          fec: '01/VI/2001',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '48',
          doc: 'Agreement on Mutual Protection of Intellectual Property Rights.',
          country: 'Taipei',
          fec: '24/VIII/2001',
          lugar: '-------',
          fecha: '-------',
          entrada: '24/VIII/2001'
        },
        {
          no: '49',
          doc: 'Agreement for the abolition of visas in diplomatic and official passports',
          country: 'Taipei',
          fec: '21/VIII/2002',
          lugar: '2143',
          fecha: '25/VII/2003',
          entrada: '5/IX/2003'
        },
        {
          no: '50',
          doc: 'Memorandum of Understanding on the creation of a mechanism for consultation and coordination between the Ministries of Foreign Affairs.',
          country: 'Taipei',
          fec: '21/VIII/2002',
          lugar: '-------',
          fecha: '-------',
          entrada: '21/VIII/2002'
        },
        {
          no: '51',
          doc: 'Joint Statement between the Vice Presidents.',
          country: 'Asunción',
          fec: '15/VIII/2003',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '52',
          doc: 'Joint Statement between the Vice Presidents. ',
          country: 'Taipei',
          fec: '10/II/2004',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '53',
          doc: 'Joint Statement between the Vice Presidents. ',
          country: 'Taipei',
          fec: '12/II/2004',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '54',
          doc: 'Joint Statement between the Vice Presidents. ',
          country: 'Taipei',
          fec: '24/V/2004',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '55',
          doc: 'Joint Statement between the Vice Presidents. ',
          country: 'Taipei',
          fec: '24/V/2004',
          lugar: '-------',
          fecha: '-------',
          entrada: '24/V/2004'
        },
        {
          no: '56',
          doc: 'Joint Statement between the Vice Presidents. ',
          country: 'Asunción',
          fec: '10/VIII/2004',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '57',
          doc: 'Joint Statement between the Vice Presidents. ',
          country: 'Taipei',
          fec: '20/XII/2005',
          lugar: '-------',
          fecha: '-------',
          entrada: '27/XI/2007'
        },
        {
          no: '58',
          doc: 'Joint Statement between the Vice Presidents. ',
          country: 'Taipei',
          fec: '20/XII/2005',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '59',
          doc: 'Joint Statement between the Vice Presidents. ',
          country: 'Asunción',
          fec: '06/05/2006',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '60',
          doc: 'Agreement by verbal notes on the modification of the agreement for the reverse notes of February 15, 1973 concerning the conformation of the technical Chinese agricultural mission in Paraguay.',
          country: 'Asunción',
          fec: '9/II/2007<br>10/IV/2007',
          lugar: '-------',
          fecha: '-------',
          entrada: '10/IV/2007'
        },
        {
          no: '61',
          doc: 'Joint communiqué of Foreign Ministers',
          country: 'Taipei',
          fec: '24/VII/2007',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '62',
          doc: 'Agreement on mutual assistance in relation to drug trafficking and related punishable acts.',
          country: 'Taipei',
          fec: '16/X/2007',
          lugar: '-------',
          fecha: '-------',
          entrada: '16/X/2007'
        },
        {
          no: '63',
          doc: 'Agreement by reversal notes concerning the amendment of article 10, paragraph 2 of the Spanish language text of the "Double taxation agreement and prevent tax evasion with respect to income tax", of 28 April 1994.',
          country: 'Asunción',
          fec: '3 y 6 III/2008',
          lugar: '3972',
          fecha: '6/V/2010',
          entrada: '16/X/2007'
        },
        {
          no: '64',
          doc: 'Statement of receipt of disbursement of the donation of Seventy and one million United States dollars, of the Republic of China (Taiwan) to the Republic of Paraguay.',
          country: 'Asunción',
          fec: '9/VII/2009',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '65',
          doc: 'Convention for cooperation in the fields of culture, education, science and sport.',
          country: 'Asunción',
          fec: '8/IX/2009',
          lugar: '4022',
          fecha: '24/VI/2010',
          entrada: '30/VIII/2010'
        },
        {
          no: '66',
          doc: 'Agreement by reversal notes on the modification of the agreement by reversals of February 15, 1973 concerning the shaping of the agricultural technical mission China in Paraguay.',
          country: 'Asunción',
          fec: '8/IV/2010',
          lugar: '-------',
          fecha: '-------',
          entrada: '8/IV/2010'
        },
        {
          no: '67',
          doc: 'Act of receipt of disbursement of the donation of seven hundred thirty-seven thousand United States dollars granted by the Republic of China (Taiwan) to the Republic of Paraguay for the financing of the priority project of the Ministry of Foreign Affairs.',
          country: 'Asunción',
          fec: '20/VII/2010',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '68',
          doc: 'Act of receipt of disbursement of the donation of Five hundred thousand United States dollars granted by the Republic of China (Taiwan) to the Republic of Paraguay for the project of modernization and strengthening the institutional management of the Ministry of Foreign Affairs.',
          country: 'Asunción',
          fec: '18/VI/2013',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '69',
          doc: 'Memorandum of Understanding on non-refundable financial cooperation period 2013-2018',
          country: 'Asunción',
          fec: '25/II/2014',
          lugar: '5.175',
          fecha: '8/V/2014',
          entrada: '02/VII/2014'
        },
        {
          no: '70',
          doc: 'Joint Declaration of Presidents.',
          country: 'Asunción',
          fec: '28/VI/2016',
          lugar: '-------',
          fecha: '-------',
          entrada: '-------'
        },
        {
          no: '71',
          doc: 'Ratification of Air Transportation Agreement',
          country: 'Asunción',
          fec: '28/VI/2016',
          lugar: '5.827',
          fecha: '27/VI/2017',
          entrada: '27/VI/2017'
        },
        {
          no: '72',
          doc: 'Visa Exemption Agreement',
          country: 'Taipei',
          fec: '12/VII/2017',
          lugar: 'DTO. 7423',
          fecha: '06/VII/2017',
          entrada: '06/VII/2017'
        },
        {
          no: '73',
          doc: 'Economic Cooperation Agreement',
          country: 'Taipei',
          fec: '12/VII/2017',
          lugar: '5.932',
          fecha: '23/X/2017',
          entrada: '28/II/2018'
        },
        {
          no: '74',
          doc: 'Agreement of Abolition of the requirement for the double legalization of foreign public documents',
          country: 'Taipei',
          fec: '12/VII/2017',
          lugar: '6.045',
          fecha: '12/VII/2017',
          entrada: '08/VIII/2018'
        },
      ]
      
      const tbody = document.querySelector('table#bilaterales tbody')
      let trStr = ''
      
      for(let i = 0; i < data.length; i++){
        trStr += `
          <tr>
            <td>${data[i].no}</td>
            <td style="max-width: 300px; text-align:left;">${data[i].doc}</td>
            <td>${data[i].country}</td>
            <td>${data[i].fec}</td>
            <td>${data[i].lugar}</td>
            <td>${data[i].fecha}</td>
            <td>${data[i].entrada}</td>
          </tr>
        `
      }
    
      tbody.innerHTML = trStr
      
    script
